<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />


    <!-- 文件输出格式 -->
    <property name="PATTERN_DEV" value="${PATTERN_DEV:- %clr(%d{yyyy-MM-dd HH:mm:ss}){Green} -->[%thread]--%clr(%-5level){Green}--[%C.%M]--%clr(%msg){Green} java:%L%n}"></property>
    <property name="PATTERN_TEST" value="%d{yyyy-MM-dd HH:mm:ss}-->test-->[%thread]--%-5level--[%C.%M]--%msg java:%L%n"></property>
    <property name="PATTERN_PROD" value="%d{yyyy-MM-dd HH:mm:ss}-->prod-->[%thread]--%-5level--[%C.%M]--%msg java:%L%n"></property>


    <!-- 开发环境 -->
    <springProfile name="dev">
        <!-- 控制台输出 -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>${PATTERN_DEV}</pattern>
            </encoder>
        </appender>

        <!-- 日志输出级别   -->
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <!-- 控制台输出 -->
        <appender name="TEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>./log/test/log-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>2MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN_TEST}</pattern>
            </encoder>
        </appender>
        <!-- 日志输出级别   -->
        <root level="INFO">
            <appender-ref ref="TEST_FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <!-- 控制台输出 -->
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>./log/prod/log-warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>2MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN_PROD}</pattern>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="PROD_FILE"/>
        </root>
    </springProfile>
</configuration>