<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<ul>
    <li>
        <label>姓名:</label>
        <span th:text="${name}"></span>
    </li>
    <li>
        <label>年龄:</label>
        <span th:text="${age}"></span>
    </li>
    <li>
        <label>生日:</label>
        <span th:text="${birthday}"></span>
    </li>
    <li>
        <label th:text="${gender != null} ? '性别:' : '待定...'">性别</label>
        <span th:text="${gender}">gender</span>
    </li>
</ul>
</body>
</html>
<script type="text/javascript" src="./../static/controller/index.js"></script>